@page
@model AboutModel
@{
    ViewData["Title"] = "Skills";
}

<section id="about">
    <h2>About Me</h2>
        <p>
            I’m Luke — an Infrastructure Engineer working in Cloud & DevOps, based in London with a strong focus on Microsoft Azure. I specialise in building and administering secure, scalable cloud infrastructure, with hands-on experience in App Services, Azure DevOps, Entra, ARM/Bicep deployments, Storage Accounts and VMs.
            I also have hands-on experience day-to-day working with Cloudflare, managing DNS records for over 200 websites, hosted both on Azure and other Cloud providers.
        </p>
        <p>
            My experience in these areas has helped me to become Microsoft Certified and I now hold the AZ-900, AZ-104 and AZ-400 certifications.
        </p>
        <p>
            I am currently looking for new opportunities as an Azure Devops / Cloud Engineer, where I can apply my experience and expertise in automation, CI/CD pipelines, and infrastructure-as-code.
        </p>
        <p>
            My strengths lie in combining the technical depth of my experience with a process-driven mindset, emphasising clear communication across teams, which provides a structured and consistent approach. I have worked across global IT organisations and have led multiple cloud migrations. 
        </p>
        <p>
            Please feel free to explore my skills and certifications throughout my website, which has been built as a showcase or <a href="/Contact">get in touch</a> if you’d like to connect.
        </p>




</section>
